{:namespaces
 {"cljdoc.util.repositories"
  {:ns-aliases
   {"util" "cljdoc.util",
    "config" "cljdoc.config",
    "string" "clojure.string",
    "http" "clj-http.lite.client",
    "json" "cheshire.core",
    "io" "clojure.java.io"},
   :ns-interns
   {"metadata-xml-uri" "cljdoc.util.repositories/metadata-xml-uri",
    "artifact-uris" "cljdoc.util.repositories/artifact-uris",
    "get-pom-xml" "cljdoc.util.repositories/get-pom-xml",
    "releases-since" "cljdoc.util.repositories/releases-since",
    "snapshot-version?" "cljdoc.util.repositories/snapshot-version?",
    "version-directory-uri"
    "cljdoc.util.repositories/version-directory-uri",
    "latest-release-version"
    "cljdoc.util.repositories/latest-release-version",
    "pom-uri" "cljdoc.util.repositories/pom-uri",
    "find-artifact-repository"
    "cljdoc.util.repositories/find-artifact-repository",
    "jar-uri" "cljdoc.util.repositories/jar-uri",
    "artifact-uri" "cljdoc.util.repositories/artifact-uri",
    "exists?" "cljdoc.util.repositories/exists?",
    "group-path" "cljdoc.util.repositories/group-path",
    "resolve-snapshot" "cljdoc.util.repositories/resolve-snapshot",
    "local-uris" "cljdoc.util.repositories/local-uris",
    "artifact-uris*" "cljdoc.util.repositories/artifact-uris*"},
   :ns-refers {}},
  "cljdoc.util.datetime"
  {:ns-aliases {},
   :ns-interns
   {"->analytics-format" "cljdoc.util.datetime/->analytics-format",
    "day-suffix" "cljdoc.util.datetime/day-suffix"},
   :ns-refers {}},
  "cljdoc.util"
  {:ns-aliases
   {"edn" "clojure.edn",
    "io" "clojure.java.io",
    "string" "clojure.string",
    "walk" "clojure.walk"},
   :ns-interns
   {"scm-fallback" "cljdoc.util/scm-fallback",
    "delete-directory!" "cljdoc.util/delete-directory!",
    "infer-platforms-from-src-dir"
    "cljdoc.util/infer-platforms-from-src-dir",
    "copy" "cljdoc.util/copy",
    "normalize-git-url" "cljdoc.util/normalize-git-url",
    "version-tag?" "cljdoc.util/version-tag?",
    "uri-path" "cljdoc.util/uri-path",
    "mean" "cljdoc.util/mean",
    "gh-url?" "cljdoc.util/gh-url?",
    "codox-edn" "cljdoc.util/codox-edn",
    "clojars-id" "cljdoc.util/clojars-id",
    "version-entity" "cljdoc.util/version-entity",
    "replant-ns" "cljdoc.util/replant-ns",
    "index-by" "cljdoc.util/index-by",
    "system-temp-file" "cljdoc.util/system-temp-file",
    "pom-path" "cljdoc.util/pom-path",
    "analysis-output-prefix" "cljdoc.util/analysis-output-prefix",
    "relativize-path" "cljdoc.util/relativize-path",
    "serialize-cljdoc-edn" "cljdoc.util/serialize-cljdoc-edn",
    "find-pom-in-dir" "cljdoc.util/find-pom-in-dir",
    "artifact-id" "cljdoc.util/artifact-id",
    "normalize-project" "cljdoc.util/normalize-project",
    "assert-first" "cljdoc.util/assert-first",
    "variance" "cljdoc.util/variance",
    "system-temp-dir" "cljdoc.util/system-temp-dir",
    "git-dir" "cljdoc.util/git-dir",
    "scm-url" "cljdoc.util/scm-url",
    "hardcoded-config" "cljdoc.util/hardcoded-config",
    "github-url" "cljdoc.util/github-url",
    "read-cljdoc-edn" "cljdoc.util/read-cljdoc-edn",
    "cljdoc-edn" "cljdoc.util/cljdoc-edn",
    "group-id" "cljdoc.util/group-id"},
   :ns-refers {}}},
 :vars
 {"cljdoc.util.repositories/artifact-uris*"
  {:malli/schema
   [:function
    #:pitoco{:generated-at "2022-02-06T23:31:58.574"}
    [:=>
     [:cat string? symbol? string?]
     [:map [:jar string?] [:pom string?]]]],
   :example
   {:inputs-str
    ["\"https://repo.clojars.org/\"\n"
     "bidi\n"
     "\"2.0.9-SNAPSHOT\"\n"],
    :output-str
    "{:pom\n \"https://repo.clojars.org/bidi/bidi/2.0.9-SNAPSHOT/bidi-2.0.9-20160426.224252-1.pom\",\n :jar\n \"https://repo.clojars.org/bidi/bidi/2.0.9-SNAPSHOT/bidi-2.0.9-20160426.224252-1.jar\"}\n"},
   :arity->arglist {3 [repository project version]}},
  "cljdoc.util/assert-first"
  {:malli/schema
   [:function
    #:pitoco{:generated-at "2022-02-06T23:31:58.663"}
    [:=> [:cat [:sequential string?]] string?]],
   :example {:inputs-str ["(\"0.0.5\")\n"], :output-str "\"0.0.5\"\n"},
   :arity->arglist {1 [[x & rest :as xs]]}},
  "cljdoc.util.repositories/resolve-snapshot"
  {:malli/schema
   [:function
    #:pitoco{:generated-at "2022-02-06T23:31:58.610"}
    [:=> [:cat string? symbol? string?] string?]],
   :example
   {:inputs-str
    ["\"https://repo.clojars.org/\"\n"
     "bidi\n"
     "\"2.0.9-SNAPSHOT\"\n"],
    :output-str "\"2.0.9-20160426.224252-1\"\n"},
   :arity->arglist {3 [repository project version]}},
  "cljdoc.util.repositories/jar-uri"
  {:malli/schema
   [:function
    #:pitoco{:generated-at "2022-02-06T23:31:58.591"}
    [:=> [:cat string? symbol? string? string?] string?]],
   :example
   {:inputs-str
    ["\"https://repo.clojars.org/\"\n"
     "bidi\n"
     "\"2.0.9-SNAPSHOT\"\n"
     "\"2.0.9-20160426.224252-1\"\n"],
    :output-str
    "\"https://repo.clojars.org/bidi/bidi/2.0.9-SNAPSHOT/bidi-2.0.9-20160426.224252-1.jar\"\n"},
   :arity->arglist {}},
  "cljdoc.util/read-cljdoc-edn"
  {:malli/schema
   [:function
    #:pitoco{:generated-at "2022-02-06T23:31:58.651"}
    [:=> [:cat any?] [:map [:or any?]]]],
   :example
   {:inputs-str
    ["#object[java.io.StringReader 0x31daf62d \"java.io.StringReader@31daf62d\"]\n"],
    :output-str "{:or #\"^Test*\"}\n"},
   :arity->arglist {1 [file]}},
  "cljdoc.util/serialize-cljdoc-edn"
  {:malli/schema
   [:function
    #:pitoco{:generated-at "2022-02-06T23:31:58.668"}
    [:=> [:cat [:map [:or any?]]] string?]],
   :example
   {:inputs-str ["{:or #\"^Test*\"}\n"],
    :output-str "\"{:or #regex \\\"^Test*\\\"}\"\n"},
   :arity->arglist {1 [analyze-result]}},
  "cljdoc.util.repositories/latest-release-version"
  {:malli/schema
   [:function
    #:pitoco{:generated-at "2022-02-06T23:31:58.556"}
    [:=> [:cat string?] string?]],
   :example
   {:inputs-str ["\"org/clojure/math.numeric-tower\"\n"],
    :output-str "\"0.0.5\"\n"},
   :arity->arglist {1 [project]}},
  "cljdoc.util.repositories/artifact-uris"
  {:malli/schema
   [:function
    #:pitoco{:generated-at "2022-02-06T23:31:58.599"}
    [:=> [:cat symbol? string?] [:map [:jar string?] [:pom string?]]]],
   :example
   {:inputs-str ["bidi\n" "\"2.0.9-SNAPSHOT\"\n"],
    :output-str
    "{:pom\n \"https://repo.clojars.org/bidi/bidi/2.0.9-SNAPSHOT/bidi-2.0.9-20160426.224252-1.pom\",\n :jar\n \"https://repo.clojars.org/bidi/bidi/2.0.9-SNAPSHOT/bidi-2.0.9-20160426.224252-1.jar\"}\n"},
   :arity->arglist {2 [project version]}},
  "cljdoc.util.datetime/->analytics-format"
  {:malli/schema
   [:function
    #:pitoco{:generated-at "2022-02-06T23:31:58.616"}
    [:=> [:cat :pitoco.core/IsoInstant] string?]],
   :example
   {:inputs-str ["\"2018-10-17T20:58:21.491730Z\"\n"],
    :output-str "\"Wed, Oct 17th\"\n"},
   :arity->arglist {1 [ts]}}}}
